<main>
  <div class="box">
    <div class="info">
      <img
      [src]="url"
      alt='{{title}}'
      />
      <h1 class="remove_p_m">
        {{title}}
      </h1>
      <p class="remove_p_m">
        {{subtitle}}
      </p>
    </div>
    <form>
      <input-dropdown
      [label]="label_name"
     >
     </input-dropdown>
     <input-password
     [label]="label_password"
     >
    </input-password>
    <hr-line></hr-line>
    <button
      type="button"
      [ngClass]="{'active' : active_button}"
      (click)="loginAction()">
      <p>{{label_button}}</p>
    </button>
    </form>
  </div>
</main>
