$text-white: #f0fbff;
$red-oficial:#EA3323;
$grey:#d1d1d1;
$grey-placeholder:#b2b2b2;
$grey-bg: #f9f9f9;
$semantic-blue:#3366FF;
//gradient
$gradient: linear-gradient(225deg, rgba(236,102,33,1) 0%, rgba(231,25,30,1) 55%, rgba(121,0,15,1) 100%);
